html,body{
	width: 100%;
	height: 100%;
}

div.offerManagement {
	width: 100%;
	height: 100%;
	min-width: 820px;
	min-height: 600px;
	box-sizing: border-box;
	background-color: #FAFAFA;
	position: relative;
}

div.offerManagement .offerManageHead {
	width: 100%;
	height: 55px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	padding: 15px;
}

div.offerManagement .offerManageHead .appcenter_Title{
	float: left;
	width: 70%;
}

div.offerManagement .appcenter_Title #gotoOffer{
	cursor: pointer;
}

/*顶部最小最大关闭按钮样式*/
div.offerManagement .offerManageHead .offer_Btns{
	width:25%;
	float: right;
}
div.offerManagement .winPageBtn {
	float: right;
	height: 20px;
	padding-top: 4px;
	float: right;
}

.winPageBtn .minpage {
	background: url(../../../images/icon－zuixiaohua.svg) no-repeat;
	float: left;
}

.winPageBtn .maxpage {
	background: url(../../../images/icon－zuidahua.svg) no-repeat;
	float: left;
}

.winPageBtn .closepage {
	background: url(../../../images/icon－guanbi.svg) no-repeat;
	float: left;
}

.winPageBtn .closepage, .winPageBtn .maxpage, .winPageBtn .minpage {
	width: 12px;
	height: 12px;
	margin-left: 15px;
	cursor: pointer;
}

.winnodrag {
	-webkit-app-region: no-drag;
}

.windrag{
	-webkit-app-region: drag;
	-webkit-user-select: none;
}


div.offerManagement .offerManageHead > div > span {
	margin-right: 10px;
	line-height: 24px;
}

div.offerManagement .offerManageHead > div > span:first-child {
	font-size: 14px;
	color: #354052;
}

div.offerManagement .offerManageHead > div > span:nth-child(2) {
	font-size: 14px;
	color: #DFE3E9;
}

div.offerManagement .offerManageHead > div > span:last-child {
	font-size: 14px;
	color: #7F8FA4;
}

div.offerManagement .offerListContainer {
	background-color: #FAFAFA;
	width: 97.5%;
	position: absolute;
	top: 55px;
	bottom: 0px;
	margin: 10px;
}

div.offerListContainer > div:first-child {
	height: 45px;
	width: 100%;
	padding-top: 7px;
	border-bottom: 1px solid #E6EAEE;
}

div.offerListContainer ul.offerTabList {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

div.offerListContainer ul.offerTabList > li {
	float: left;
	margin-right: 10px;
}

div.offerListContainer ul.offerTabList > li:hover {
	cursor: pointer;
}

div.offerListContainer ul.offerTabList > li > span {
	font-size: 14px;
	color: #546576;
	padding: 8px 30px;
	display: inline-block;
	background: linear-gradient(to bottom, #FEFEFE, #F6F8FB);
	border: 1px solid #E6EAEE;
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
}

div.offerListContainer ul.offerTabList > li.active > span {
	padding: 10px 30px;
	color: #000000;
	margin-top: -4px;
	border-bottom: 1px solid #FFFFFF;
	background: #FFFFFF;
}

div.offerListContainer ul.offerTabList > li:last-child {
	float: right
}

div.offerListContainer ul.offerTabList > li:last-child > span {
	border: none;
	background: transparent;
	font-size: 12px;
	color: #4A90E2;
	letter-spacing: 1px;
	padding: 0px;
	margin-right: 10px;
}

div.offerListContainer > div.offerPanels {
	width: 100%;
	position: absolute;
	top: 45px;
	bottom: 0px;
	overflow: hidden;
	border: 1px solid #E6EAEE;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	background-color: #FFFFFF;
}

div.offerListContainer > div.offerPanels > div:not(.modal) {
	position: relative;
	height: 100%;
}

div.offerManagement div.candidateListToolBar,
div.offerManagement div.waitingListToolBar,
div.offerManagement div.sentListToolBar {
	padding: 15px 0px;
	border-bottom: 1px solid #E6EAEE
}

div.offerPanels div.candidateListToolBar > div > input,
div.offerPanels div.waitingListToolBar > div > input,
div.offerPanels div.sentListToolBar > div > input {
	width: 180px;
	height: 24px;
	margin-right: 9px;
	font-size: 12px;
	padding-left: 34px;
	border-radius: 4px;
	border: 1px solid #EEEEEE;
	color: #B5B8BA;
	line-height: 24px;
	float: left;
	background: url('../../../images/icon－searchchengyuan.svg') 5px center no-repeat #F5F5F5;
}

div.offerPanels div.candidateListToolBar > div > input:focus,
div.offerPanels div.waitingListToolBar > div > input:focus,
div.offerPanels div.sentListToolBar > div > input:focus{
	background: url('../../../images/icon－searchchengyuan－hov.svg') 5px center no-repeat #F5F5F5;
	color: #333333;
}

div.offerPanels div.candidateListToolBar > div:last-child,
div.offerPanels div.waitingListToolBar > div:last-child,
div.offerPanels div.sentListToolBar > div:last-child {
	text-align: right;
}

div.offerPanels div.candidateListToolBar > div:last-child > button,
div.offerPanels div.waitingListToolBar > div:last-child > button {
	height: 24px;
	padding: 3px 20px;
	font-size: 12px;
	color: #333333;
	border: 1px solid #999999;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin-right: 10px;
}

div.offerPanels div.sentListToolBar > div:last-child > button {
	height: 24px;
	padding: 3px 10px;
	font-size: 12px;
	color: #666666;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	background-color: #E1E1E1;
	margin-right: 10px;
}

div.offerPanels div.sentListToolBar > div:last-child > button.selectedStatus {
	color: #FFFFFF;
	background-color: #55C246;
	border: 1px solid #55C246;
}

div.offerPanels div.candidateList > div:last-child,
div.offerPanels div.waitingList > div:last-child,
div.offerPanels div.sentList > div:last-child {
	position: absolute;
	top: 55px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
}

div.offerPanels div.candidateList .scroll_Div,
div.offerPanels div.waitingList .scroll_Div,
div.offerPanels div.sentList .scroll_Div{
	overflow: auto;
	height: 100%;
}

div.offerPanels div.candidateList table.fixed_head,
div.offerPanels div.waitingList table.fixed_head,
div.offerPanels div.sentList table.fixed_head{
	position: absolute;
	top: 0px;
	left: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

div.offerPanels .contentTable{
	margin-bottom: 0px;
}

div.offerListContainer div.hintMsg{
	z-index: 1000;
	display: none;
	background-color: #FFF7D9;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	border-radius: 2px;
	padding:4px 15px;
	position: absolute;
}

div.offerListContainer div.hintMsg >span{
	font-size: 12px;
	color: #666666;
	letter-spacing: 1px;
}

/*候选人列表样式*/
div.offerPanels table tr th, div.offerPanels table tr td {
	text-align: center;
}

div.offerPanels table tr th {
	border-bottom: 1px solid #E6EAEE;
	font-size: 12px;
	color: #333333;
	letter-spacing: 1px;
	line-height: 20px;
}

div.offerPanels table tr td {
	border: none;
	vertical-align: middle;
	font-size: 14px;
	color: #999999;
}

div.candidateTable table tr th:nth-child(1) {
	width: 26%;
}

div.candidateTable table tr th:nth-child(2) {
	width: 18%;
}

div.candidateTable table tr th:nth-child(3) {
	width: 18%;
}

div.candidateTable table tr th:nth-child(4) {
	width: 18%;
}

div.candidateTable table tr th:nth-child(5) {
	width: 20%;
}

div.candidateTable table tbody tr:nth-child(even) {
	background-color: #F9F9F9;
}

div.candidateTable table tbody tr:hover {
	background-color: #E8F2FB;
}

div.candidateTable table tbody tr span:hover {
	cursor: pointer;
}

div.candidateTable table tbody tr span.non-clickable:hover{
	cursor: text;
}

div.offerPanels table tr td.operateTd > span {
	visibility: hidden;
	margin-right:12px;
}

div.candidateTable table tr td:nth-child(1) > div:first-child {
	color: #333333;
}

div.candidateTable table tr td:nth-child(1) > div:last-child > span {
	font-size: 12px;
}

div.candidateTable table tr td:nth-child(1) > div:last-child > span:last-child {
	margin-left: 10px;
	color: #FFFFFF;
	padding: 2px 5px;
	background-color: #C5C5C5;
}

div.candidateTable table tr td:nth-child(1) > div:last-child > span.fullTime {
	background-color: #A7C5E8;
}

div.candidateTable table tr td:nth-child(3) span.interviewRecord {
	font-size: 14px;
	color: #4A90E2;
}

div.candidateTable table tr td:nth-child(4) span.testLog {
	color: #666666;
}

/*待发offer列表样式*/
div.waitingList table tr th:nth-child(1) {
	width: 4%;
}

div.waitingList table tr th:nth-child(2) {
	width: 24%;
}

div.waitingList table tr th:nth-child(3) {
	width: 20%;
}

div.waitingList table tr th:nth-child(4) {
	width: 15%;
}

div.waitingList table tr th:nth-child(5) {
	width: 15%;
}

div.waitingList table tr th:nth-child(6) {
	width: 22%;
}

div.waitingList table tbody tr:nth-child(even) {
	background-color: #F9F9F9;
}

div.waitingList table tbody tr:hover {
	background-color: #E8F2FB;
}

div.waitingList table tbody tr span:hover {
	cursor: pointer;
}

div.waitingList table tbody tr span.non-clickable:hover{
	cursor: text;
}

div.waitingList table tbody tr td.auditStatus:hover{
	cursor: pointer;
}

div.waitingList table tr td:nth-child(2) > div:first-child {
	color: #333333;
}

div.waitingList table tr td:nth-child(2) > div:last-child > span {
	font-size: 12px;
}

div.waitingList table tr td:nth-child(2) > div:last-child > span:last-child {
	margin-left: 10px;
	color: #FFFFFF;
	padding: 2px 5px;
	background-color: #C5C5C5;
}

div.waitingList table tr td:nth-child(2) > div:last-child > span.fullTime {
	background-color: #A7C5E8;
}

div.waitingList table tr td:nth-child(4) span.interviewRecord {
	font-size: 14px;
	color: #4A90E2;
}

div.waitingList table tr td:nth-child(5) span.testLog {
	color: #666666;
}

div.waitingList table tr td:last-child >div:first-child{
	font-size: 14px;
	color: #333333;
}

div.waitingList table tr td:last-child >div:last-child >span:not(:last-child):after{
	content:" -";
	font-size: 14px;
	color: #999999;
}

div.waitingList table tr td:last-child >div:last-child >span:not(:last-child){
	margin-right: 5px;
}

div.waitingList table tr td:last-child >div:last-child >span{
	font-size: 12px;
	color: #999999;
}

div.waitingList table tr td:last-child >div:last-child >span.passAudit{
	color: #45A346;
}

div.waitingList table tr td:last-child >div:last-child >span.failAudit{
	color: #DF6F6F;
}

.offer_checkbox, .notify_checkbox, .selectAll{
	background-image: url(../../../images/icon－xuanze－fuxuan.svg);
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-bottom: -2px;
	cursor: pointer;
}

.offer_checkbox.checked_y, .notify_checkbox.checked_y, .selectAll.checked_y{
	background-image: url(../../../images/icon－xuanze－fuxuanxuanzhong.svg);
}

.offer_checkbox.non-clickable{
	background-image: url(../../../images/icon－xuanze－bukedianji.svg);
}

/*待发offer审批状态模态框样式*/
#auditStatusModal .modal-dialog{
	width: 500px;
	margin: 150px auto auto;
}

#auditStatusModal .modal-content{
	background-color: #FAFBFE;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

#auditStatusModal .modal-header{
	height: 35px;
	padding: 7px 20px;
	background-color: #FAFBFE;
}

#auditStatusModal .modal-title{
	font-size: 14px;
	color: #546576;
	letter-spacing: 0px;
}

#auditStatusModal .modal-body{
	background-color: #FFFFFF;
	height: 208px;
}

#auditStatusModal .modal-body div.auditNameDiv{
	text-align: center;
	margin: 40px auto 20px;
}

#auditStatusModal .modal-body div.auditCommentDiv{
	text-align: center;
}

#auditStatusModal .modal-body span.h_line{
	display: inline-block;
	border-top: 1px solid #E4E4E4;
	width: 64px;
	height: 5px;
}

#auditStatusModal .modal-body div.auditNameDiv >div{
	display: inline-block;
	position: relative;
}

#auditStatusModal .modal-body span.auditName{
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: #FFFFFF;
	border-radius: 50%;
	font-size: 14px;
	padding: 0px 5px;
}

#auditStatusModal .modal-body span.auditComment{
	display: inline-block;
	width: 102px;
	font-size: 12px;
	color: #999999;
	text-align: center;
	padding: 0px 8px;
}

#auditStatusModal .modal-body div.auditNameDiv .passLable{
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #70BF73;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 50%;
	font-size: 8px;
	line-height: 8px;
}

#auditStatusModal .modal-body div.auditNameDiv .rejectLable{
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #E94D4D;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 50%;
	font-size: 8px;
	line-height: 8px;
}

#auditStatusModal .modal-footer{
	padding: 12px;
	text-align: center;
}

#auditStatusModal .modal-footer .btn{
	background-color: #70BF73;
	border: 1px solid #39953E;
	border-radius: 4px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #FFFFFF;
	padding: 4px 15px;
}

#auditStatusModal .modal-body span.auditName.in_process{
	background-color: #D7D7D7;
}
	
/*已发offer列表样式*/
div.sentList table tr th{
	padding: 5px 6px 6px;
}

div.sentList table tr th:nth-child(1) {
	width: 23%;
}

div.sentList table tr th:nth-child(2) {
	width: 20%;
}

div.sentList table tr th:nth-child(3) {
	width: 13%;
}

div.sentList table tr th:nth-child(4) {
	width: 17%;
}

div.sentList table tr th:nth-child(5) {
	width: 13%;
}

div.sentList table tr th:nth-child(6) {
	width: 15%;
}

div.sentList table tbody tr:nth-child(even) {
	background-color: #F9F9F9;
}

div.sentList table tbody tr:hover {
	background-color: #E8F2FB;
}

div.sentList table tbody tr span:hover {
	cursor: pointer;
}

div.sentList table tbody tr span.non-clickable:hover{
	cursor: text;
}

div.sentList table tr td:nth-child(1) > div:first-child {
	color: #333333;
}

div.sentList table tr td:nth-child(1) > div:last-child > span {
	font-size: 12px;
}

div.sentList table tr td:nth-child(1) > div:last-child > span:last-child {
	margin-left: 10px;
	color: #FFFFFF;
	padding: 2px 5px;
	background-color: #C5C5C5;
}

div.sentList table tr td:nth-child(1) > div:last-child > span.fullTime {
	background-color: #A7C5E8;
}

div.sentList table tr td:nth-child(3) span.overdue{
	color: #DF5656;
}


div.sentList table tr td:nth-child(5) span.toBeHired{
	color: #666666;
}

div.sentList table tr td:nth-child(5) span{
	color: #999999;
}

div.sentList table tr td:nth-child(6) span.reg_receipt{
	color: #4D92E3;
}

/*已发offer列表修改报到时间模态框样式*/
#hiredateEditModal .modal-dialog{
	width: 500px;
	margin: 100px auto auto;
}

#hiredateEditModal .modal-content{
	background-color: #FAFBFE;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

#hiredateEditModal .modal-header{
	height: 35px;
	padding: 7px 20px;
	background-color: #FAFBFE;
}

#hiredateEditModal .modal-title{
	font-size: 14px;
	color: #546576;
	letter-spacing: 0px;
}

#hiredateEditModal .modal-body{
	background-color: #FFFFFF;
	height: 308px;
	padding: 15px;
}

#hiredateEditModal .modal-body >div:first-child{
	padding: 15px 30px 25px;
	border-bottom: 1px solid #E1E1E1;
}

#hiredateEditModal .modal-body >div:first-child >div{
	float: left;
	width: 50%;
}

#hiredateEditModal .modal-body >div:first-child >div >div:first-child{
	font-size: 12px;
	color: #666666;
	margin-bottom: 12px;
}

#hiredateEditModal .modal-body >div:first-child >div >div:last-child{
	line-height: 26px;
}

#hiredateEditModal .modal-body .setRegistTime:hover{
	cursor: pointer;
}

#hiredateEditModal .modal-body >div:first-child >div >div:last-child img{
	margin-top: -4px;
	margin-right: 10px;
}

#hiredateEditModal .modal-body >div:first-child >div >div:last-child input{
	padding: 0px;
	border: none;
	color: #000000;
}

#hiredateEditModal .modal-body >div:last-child{
	padding: 30px;
}

#hiredateEditModal .modal-body >div:last-child >div{
	margin-bottom: 15px;
}

#hiredateEditModal .modal-body >div:last-child >div:first-child{
	font-size: 12px;
	color: #666666;
}

#hiredateEditModal .modal-body >div:last-child >div:not(:first-child) >span{
	display: inline-block;
}

#hiredateEditModal .modal-body >div:last-child >div:not(:first-child) >span:first-child{
	margin-right: 10px;
}

#hiredateEditModal .modal-body >div:last-child >div:not(:first-child) >span:nth-child(2){
	width: 40%;
}

#hiredateEditModal .modal-body >div:last-child >div:not(:first-child) >span:nth-child(3){
	color: #999999;
}

#hiredateEditModal .modal-footer{
	padding: 12px;
	text-align: center;
}

#hiredateEditModal .modal-footer .btn{
	font-size: 14px;
	padding: 4px 20px;
}

#hiredateEditModal .modal-footer .btn-success{
	background-color: #70BF73;
	border: 1px solid #39953E;
	color: #FFFFFF;
	margin-right: 15px;
}

#hiredateEditModal .modal-footer .btn-default{
	background: #FFFFFF;
	border: 1px solid #999999;
	color: #999999;
}

div[data-id="#hiredateEditModal .setRegistTime"] .wp-timeSelect{
	bottom: 35px !important;
}

/*offer模板样式*/
div.offerPanels .templateList{
	overflow: auto;
}

div.offerPanels .templateList ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

div.templateList >ul >li{
	padding: 0px;
}

div.templateList >ul >li >div{
	height: 160px;
	margin: 10px;
	min-width: 240px;
	max-width: 241px;
	border-radius: 4px;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 0px 5px #EEEEEE;
	position: relative;
	cursor: pointer;
}

div.templateList >ul >li.newTemplate div{
	padding: 58px 98px;
}

div.templateList >ul >li.newTemplate img{
	width: 44px;
	height: 44px;
}

div.templateList >ul >li >div >div.template_title{
	height: 60px;
	padding: 20px;
}

div.templateList >ul >li >div >div.template_title >span{
	line-height: 20px;
	font-size: 14px;
	color: #333333;
}

div.templateList >ul >li >div >div.template_img{
	overflow: hidden;
}

div.templateList >ul >li >div >div.template_img >img{
	width: 100%;
}

div.templateList >ul >li >div >div.template_cover{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}

div.templateList >ul >li >div >div.template_cover:hover{
	cursor: default;
}

div.templateList ul li .template_cover >div:first-child{
	height: 123px;
	padding: 70px 82px 30px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 4px 4px 0px 0px;
}

div.templateList ul li .template_cover span.temp_edit{
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

div.templateList ul li .template_cover span.temp_edit{
	cursor: pointer;
}

div.templateList ul li .template_cover >div.temp_operate{
	height: 36px;
	background-color: #FFFFFF;
	padding: 8px 15px;
	border-radius: 0px 0px 4px 4px;
}

div.templateList ul li .temp_operate >div{
	float: left;
}

div.templateList ul li .temp_operate >div:not(.v_line):hover{
	cursor: pointer;
}

div.templateList ul li .temp_operate >div.v_line{
	border: 1px solid #EEEEEE;
	width: 0px;
	height: 14px;
	margin: 4px 12px 2px;
}

/*查看面试记录模态框样式*/
#interviewRecModal .modal-dialog{
	margin: 50px auto auto;
}

#interviewRecModal .modal-content{
	height: 500px;
	background-color: #FAFBFE;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

#interviewRecModal .modal-header{
	height: 35px;
	padding: 7px 15px;
	background-color: #FAFBFE;
}

#interviewRecModal .modal-title{
	font-size: 14px;
	color: #546576;
	letter-spacing: 0px;
}

#interviewRecModal .modal-body{
	overflow: auto;
	height: 465px;
	background-color: #FFFFFF;
}

#interviewRecModal .modal-body >div{
	margin-bottom: 20px;
}

#interviewRecModal .modal-body .interviewTime{
	color: #999;
}

#interviewRecModal .modal-body .interviewDetail{
	margin-top: 10px;
	border: 1px solid #E1E1E1;
	font-size: 14px;
	line-height: 24px;
}

#interviewRecModal .interviewTitle{
	height: 30px;
	background-color: #F9F9F9;
	padding: 3px 10px;
}

#interviewRecModal .interviewTitle >span:nth-child(1){
	display: inline-block;
	width: 30%;
}

#interviewRecModal .interviewTitle >span:nth-child(2){
	display: inline-block;
	width: 40%;
	text-align: center;
}

#interviewRecModal .interviewTitle >span:nth-child(3){
	display: inline-block;
	width: 30%;
	text-align: right;
}

#interviewRecModal .interviewContent{
	padding: 0px 10px;
	min-height: 30px;
}

#interviewRecModal .interviewContent >div{
	margin-top: 15px;
}

/*查看操作记录模态框样式*/
#testLogModal .modal-dialog{
	margin: 50px auto auto;
}

#testLogModal .modal-content{
	height: 500px;
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

#testLogModal .modal-header{
	height: 35px;
	padding: 7px 15px;
	background-color: #FAFBFE;
}

#testLogModal .modal-title{
	font-size: 14px;
	color: #546576;
	letter-spacing: 0px;
}

#testLogModal .modal-body{
	overflow: auto;
	height: 435px;
	margin: 15px;
	padding: 0px;
	background-color: #FFFFFF;
}

#testLogModal .modal-body table tr th:nth-child(1){
	width: 17%;
}

#testLogModal .modal-body table tr th:nth-child(2){
	width: 13%;
}

#testLogModal .modal-body table tr th:nth-child(3){
	width: 13%;
}

#testLogModal .modal-body table tr th:nth-child(4){
	width: 57%;
}

#testLogModal .modal-body table tr th{
	color: #737373;
	border-bottom: none;
	background-color: #F9F9F9;
}

#testLogModal .modal-body table tr td{
	padding: 4px 8px;
}

#testLogModal .modal-body table tr:nth-child(-n+5) >td:nth-child(2){
	color: #ff9256;
}

#testLogModal .modal-body table tr:nth-child(-n+5) >td:nth-child(3){
	color: #ff9256;
}

#testLogModal .modal-body table tr td:nth-child(1){
	color: #b2b2b2;
}

#testLogModal .modal-body table tr td:nth-child(2){
	color: #3dab49;
}

#testLogModal .modal-body table tr td:nth-child(3){
	color: #3dab49;
}

#testLogModal .modal-body table tr td:nth-child(4){
	text-align: left;
	color: #333333;
}

#testLogModal .modal-body table tbody tr:nth-child(even) {
	background-color: #F9F9F9;
}

#testLogModal .modal-body table tbody tr:hover {
	background-color: #E8F2FB;
}

/*命名offer模板模态框样式*/
#nameTemplateModal .modal-dialog{
	margin: 220px auto auto;
	width: 240px;
}

#nameTemplateModal .modal-content{
	height: 159px;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

#nameTemplateModal .modal-body{
	height: 108px;
	padding: 39px 29px;
	background-color: #FFFFFF;
}

#nameTemplateModal .modal-body >div{
	text-align: center;
}

#nameTemplateModal .modal-body >div >input[name="temp_title"]{
	width: 180px;
	font-size: 14px;
	color: #000000;
	border: none;
	background-color: #F6F6F6;
	line-height: 30px;
}

#nameTemplateModal .modal-footer{
	padding: 10px;
	text-align: center;
	border-top: 1px solid #E9E9E9;
	background-color: #FAFAFA;
}

#nameTemplateModal .modal-footer .btn{
	padding: 4px 20px;
	font-size: 14px;
}

#nameTemplateModal .modal-footer .btn-success{
	background-color: #70BF73;
	border: 1px solid #39953E;
	color: #FFFFFF;
	margin-right: 15px;
}

#nameTemplateModal .modal-footer .btn-default{
	background: #FFFFFF;
	border: 1px solid #999999;
	color: #999999;
}

/*导入候选人简历模态框*/
#importResumeModal .modal-dialog{
	margin: 100px auto auto;
	width: 500px;
}

#importResumeModal .modal-content{
	height: 380px;
	background-color: #FAFBFE;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
}

#importResumeModal .modal-header{
	height: 35px;
	padding: 7px 15px;
	background-color: #FAFBFE;
}

#importResumeModal .modal-title{
	font-size: 14px;
	color: #546576;
	letter-spacing: 0px;
}

#importResumeModal .modal-body{
	overflow: auto;
	height: 290px;
	background-color: #FFFFFF;
}

#importResumeModal .modal-body ul{
	padding: 0px 15px;
}

#importResumeModal .modal-body ul li{
	margin-bottom: 15px;
}

#importResumeModal .modal-body ul li >div{
	float: left;
}

#importResumeModal .modal-body ul li >div:first-child{
	width: 22%;
	font-weight: bold;
}

#importResumeModal .modal-body ul li >div:last-child{
	width: 78%;
}

#importResumeModal .modal-body .fileContainer{
	padding: 20px 15px;
}

#importResumeModal .modal-body span#pickFile{
	background-color: #70BF73;
	font-size: 14px;
	color: #FFFFFF;
	padding: 5px 20px;
	margin-top: 20px;
	cursor: pointer;
}

.showFileName{
	margin-top: 15px;
}

#importResumeModal .modal-footer{
	padding: 12px;
	text-align: center;
}

#importResumeModal .modal-footer .btn{
	font-size: 14px;
	padding: 4px 20px;
}

#importResumeModal .modal-footer .btn-success{
	background-color: #70BF73;
	border: 1px solid #39953E;
	color: #FFFFFF;
	margin-right: 15px;
}

#importResumeModal .modal-footer .btn-default{
	background: #FFFFFF;
	border: 1px solid #999999;
	color: #999999;
}

