body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: MicrosoftYaHei;
    color: #354052;
    font-size: 18px;
}

input[disabled=disabled]{
    background-color: #dddddd;
}

input{
    padding-left: 6px;
}

.newTempletContent .template-user-info{
    background: #f6f6f6;
    padding: 0 62px 20px 62px;
    OVERFLOW-Y: auto;
    OVERFLOW-X:hidden;
}

.newTempletContent .template-user-info input{
    width: 60%;
    margin-top: 5px;
}

.newTempletContent .iselect-container{
    margin-top: 18px;
    margin-left: 25px;
    color: #999999;
    height: 30px;
    margin-right: 30%;
}

/*新建off模板*/
.newTempletContent{
    height: 100%;
    min-width: 820px;
}
/*选择框*/
.newTempletContent .letbl{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 16px;
}
.newTempletContent .n_check{
    background-image: url(../../images/icon－xuanze－fuxuan.svg);
}
.newTempletContent .y_check{
    background-image: url(../../images/icon－xuanze－fuxuanxuanzhong.svg);
}
.newTempletContent .u_check{
    background-image: url(../../images/icon－xuanze－fuxuanbukedianji.svg);
}
.newTempletContent .templet_top{
    height: 55px;
    background: #ffffff;
}
.newTempletContent .templet_down{
    height: 60px;
    background: #fafafa;
}
.newTempletContent .templet_top div:first-child{
    height: 55px;
    padding-top: 18px;
    padding-left: 14px;
}
.newTempletContent .templet_top .close{
    position: absolute;
    top: 20px;
    right: 15px;
}
.newTempletContent .templet_top .close img{
    width: 15px;
}
.templet_info{
    background: #f6f6f6;
    border: 1px solid #e6eaee;
    padding: 15px;
    OVERFLOW-Y: auto; OVERFLOW-X:hidden;
    height: 600px;
}
.newTempletContent .templet_info .content{
    border: 1px solid #e6eaee;
    background: #ffffff;
    padding: 0px 62px 40px 62px;
    overflow: hidden;

}
.templet_info .content .content_info ._row{
    margin-top: 40px;
}

.templet_info .content .content_info .rich_text{
    background-color: #fafafa;
    margin-top: 14px;
    border: 1px solid #fafafa;
}
.templet_info .content .content_info .quarters{
    border-top: 1px solid #eeeeee;
    margin: 20px 0;
    overflow: hidden;
}
.quarters input{
    margin-right: 20px;
}
.quarters .itemck{
    color: #eb6751;
}
.quarters .let{
    margin-left: 32px;
    border: 0px;
    margin-top: 15px;
}
.quarters .in_every, .template-user-info .in_every{
    width: 28%;
    float: left;
    margin-right: 5%;
    margin-top: 32px;
}
.quarters .welfare{
    padding-bottom: 32px;
    border-bottom: 1px solid #eeeeee;
}
.quarters .boon ,.quarters .letinput,.quarters .appendix ,.quarters .polling_list{
    width: 100%;
}
.quarters .boon span,.quarters .appendix span,.quarters .polling_list span{
    float:right;
    color: #4d92e3;
    margin-right: 50px;
}
.quarters .fuli_option{
    margin-left: 15px;
    overflow: hidden;
}
.quarters .fuli_option .fuli_option_i{
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    overflow: hidden;
}
.quarters .fuli_option .fuli_option_i div{
    float: left;
}

.quarters .fuli_option .fuli_option_i div:first-child{
    padding: 1px 10px;
    background: #FFFFFF;
    border: 1px solid #B0BDC9;
    font-size: 14px;
    min-width: 86px;
    color: #B0BDC9;
    text-align: center;
}
.quarters .fuli_option .fuli_option_i div:last-child{
    background-image: url(../../images/icon_shanchubiaoqian.svg);
    width: 27px;
    height: 26px;
    background-size: 100%;
    margin-left: -2px;
    margin-top: -1px;
}
.quarters .boon_option_i{
    width: 100%;
    height: 60px;
    background: #fafafa;
    margin-top: 15px;
    font-size: 14px;
}
.quarters .boon_option_img{
    width: 7%;
    line-height: 60px;
    height: 60px;
    margin-left: 12px;
    float: left;
}
.quarters .boon_option_info{
    float: left;
    width: 91%;
    height: 20px;
    margin-top: 8px;
}
.quarters .boon_option_info .info_name,.quarters .boon_option_info .info_size{
    float: left;
}

.quarters .boon_option_info .info_root,.quarters .boon_option_info .info_time{
    float: right;
    margin-right: 20px;
    color: #999999;
}
.quarters .boon_option_info .recol{
    color: #999999;
}
.quarters .boon_option_info .info_delete{
    margin-left: 52%;
    float: left;
    color: #eb6751;
}
.quarters .boon_option_img img{
    width: 40px;
}
.quarters .letinput input:last-child{
    display: block;
    margin-top: 20px;
    padding: 5px 5px 5px 15px ;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.newTempletContent .submetInfo ,.newTempletContent .preview, .newTempletContent .btn-normal{
    width: 90px;
    height: 30pt;
    margin-top: 10px;
}
.newTempletContent .cancel{
    width: 145px;
    height: 30pt;
    margin-top: 10px;
}

.newTempletContent .cancel{
    width: 145px;
    height: 30pt;
    margin-top: 10px;
}

.newTempletContent button:first-child{
    margin-left: 59px;
}
.newTempletContent button:nth-child(2){
    margin-left: 20px;
    color: #999999;
}
.newTempletContent button:nth-child(3){
    float: right;
    margin-right: 59px;
    color: #999999;
}



/*配置邮箱*/
#config_email .modal-dialog ,#preview .modal-dialog {
    z-index: 1050;
}
#config_email .modal-dialog .modal-body {
    height: 540px;
    overflow-x: auto;
}
#config_email .email_prompt{
    color: #e35e5e;
    text-align: center;
}
#config_email .email_row{
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

#config_email .email_update{
    background-image: url(../../images/icon_bianji_youxiang.svg);
    width: 20px;
    height: 20px;
    position: relative;
    left: 85%;
    top: -27px;

}
#config_email .email_row .e_email{
    margin-left: 20px;
    font-size: 15px;
}

#config_email .email_row .email{
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;
    margin-top: 10px;
}
#config_email .email_row .email input{
    width: 100%;
    border: 0;
    height: 35px;
}
#config_email  .email_let{
    width: 50%;
    float: left;
}
#config_email .y_select{
    background-image:url(../../images/icon－xuanze－xuzhong.svg);
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 8px;
}
#config_email .n_select{
    background-image:  url(../../images/icon－xuanze－danxuan.svg);
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 8px;
}


/*预览*/
#preview{
    font-family: MicrosoftYaHei;
    color: #172434;
    letter-spacing: 1px;
    line-height: 24px;
}
#preview .logo{
    background-image:  url(../../images/logo.svg);
    width: 100px;
    height: 36px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 8px;

}
#preview .close {
    margin-top: 15px;
    margin-right: 20px;
}
#preview .close span{
    font-size: 30px;
}
#preview .title{
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
#preview .content{
    padding: 30px;
    font-size: 16px;
}
#preview .dis{
    display: none;
}
#preview .content .term{
    margin-top: 25px;
}
#preview .content .content_row{
    margin-top: 25px;
    overflow: hidden;
}
#preview .content .content_row .style{
    padding: 6px 11px;
    font-size: 16px;
    background: #C9D2DB;

}
#preview .content .content_row .letDiv{
    border-top: 1px solid #C9D2DB;
    padding-top: 20px;
    margin-top: 3px;
}
#preview .content .content_row .letDiv .items{
    width: 110px;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}
#preview .content .content_row .letDiv .itmes_val{
    margin-top: 10px;
    float: left;
    width: 75%;
}
#preview .content .content_row .letDiv .itmes_val .welfare_i{
    text-align: center;
    border: 1px solid #B0BDC9;
    font-size: 13px;
    height: 23px;
    line-height: 21px;
    margin-right: 14px;
    width: 100px;
    float: left;
    color: #B0BDC9;
}

.quarters .polling_list{
    padding-bottom: 60px;
    border-bottom: 1px solid #eeeeee;;
}

.newTempletContent .checkbox-border{
    background-image: url(../../images/icon－xuanze－fuxuan.svg);
}
.newTempletContent .checkbox-border.active{
    background-image: url(../../images/icon－xuanze－fuxuanxuanzhong.svg);
}

.newTempletContent .templet_info .send-method{
    margin-top: 40px;
}

.newTempletContent .templet_info .send-area{
    margin-top: 16px;
}

.newTempletContent .templet_info .send-row{
    margin: 16px 0 0 30px;
}

.newTempletContent .templet_info .send-row .add-image{
    background-image: url(../../images/icon_tianjiazhixingren.svg);
    background-size:100% 100%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: inline-block;
}

.newTempletContent .templet_info .text-area-height{
    height: 90px;
}

.newTempletContent .templet_info .alert-last-span{
    font-size: 14px;
    color: #999999;
    margin-left: 104px;
}

.newTempletContent .templet_info .alert-red-span{
    margin-left: 104px;
    font-size: 12px;
    color: #E75454;
}

.form-control{
    display: inline;
    width: 160px;
    height: 30pt;
    margin-top: 10px;
    margin-left: 30px;
}
