*{margin: 0px;padding: 0px;}

.wp_fileContainer,.wp_folderContainer,.wp_folderUploader{
	position: relative;
	width: 100%;
	height: 100%;
}

/* 图片上传 */
.wp_fileContainer .add,
.wp_fileContainer .img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    line-height: 50px;
    text-align: center;
    color: gray;
    font-size: 60px;
    cursor: pointer;
    margin: 10px;
}

.wp_fileContainer .add:hover {
    color: green;
    border: 1px solid green;
}

/* 所有文件上传 */
.wp_fileContainer > ul{
    margin-top: 10px;
}

.wp_fileContainer > ul li {
    list-style: none;
    position: relative;
    margin: 5px 0px 5px 0px;
    height: 60px;
}

.wp_fileContainer > ul li .left {
    float: left;
}

.wp_fileContainer > ul li .left>div {
    display: inline-block;
}

.wp_fileContainer > ul li .right,
.wp_fileContainer > ul li .center {
    float: right;
}

.wp_fileContainer > ul li .right {
    text-align: right;
}

.wp_fileContainer > ul li .center {
    margin-right: 10px;
    text-align: center;
}

.wp_fileContainer > ul li .progress_outer {
    border: 1px solid white;
    width: 110px;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.wp_fileContainer > ul li .progress_inner {
    width: 0%;
    height: 100%;
    background-color: green;
}

.wp_fileContainer > ul li .del {
    margin-left: 10px;
}

.wp_fileContainer > ul li .fileImg{margin-right: 10px;}

.wp_fileContainer > ul li .fileImg img{
    width: 40px;
    height: 40px;
}

.wp_fileContainer > ul li .size,
.wp_fileContainer > ul li .from{
	margin-top: 11.5px;
}

/* 可拖拽文件上传   */
.wp_dragContainer{
	border:1px dashed lightgray;
	height:50px;
	line-height:50px;
	height: 100%;
	width:100%;
	text-align:center;
	color:gray;
}

.wp_fileContainer .file{
	display: inline-block;
	position: relative;
	margin: 10px;
	width: 300px;
	height: 350px;
	border: 1px solid lightgray;
}

.wp_fileContainer .file img{
	width: 100%;
	height: 250px;
}

.wp_fileContainer .file .name{
	position: absolute; /* 这一条是为了避免文件名过长超过几行引发的整个文件块的间距样式问题 */
	margin-left: 10px;
	margin-top: 10px;
	text-align: left;
}

.wp_fileContainer .file .size{
	position: absolute;
	right: 10px;
	bottom:10px;
}

.wp_fileContainer .file .touch_div{
	position: absolute;
	width: 100%;
	height: 0px;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
	transition-property: height;
	transition-duration: 0.3s;
	line-height: 250px;
	text-align: center;
}

.wp_fileContainer .file .touch_div .preview,
.wp_fileContainer .file .touch_div .download,
.wp_fileContainer .file .touch_div .del{
	display: none;
	margin: 0px 10px;
	color:white;
}

.wp_fileContainer .file:hover .touch_div{
	height: 250px;
}

.wp_fileContainer .file:hover .touch_div>a{
	display: inline-block;
}

/* 文件夹上传  */
.wp_folderUploader .btndiv{
	position: absolute;
	overflow-y: hidden;
	transition-property: height;
	transition-duration: 0.3s;
	width: 80px;
	height: 30px;
	border: 1px solid lightgray;
	z-index: 1;
	background-color:white;
}

.wp_folderUploader .btndiv .upload,
.wp_folderUploader .btndiv .uploadfile_a,
.wp_folderUploader .btndiv .uploadfolder_a{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	cursor: pointer;
}

.wp_folderUploader .btndiv .upload{
	color:dodgerblue;
}

.wp_folderUploader .btndiv:hover{
	height: 90px;
}

.wp_folderContainer{
	margin-top: 50px;
}

.wp_folderContainer .file,.wp_folderContainer .folder{
	position: relative;
	margin: 10px 0px;
	list-style: none;
}

.wp_folderContainer .file .fileImg,
.wp_folderContainer .folder .fileImg{
	width: 30px;
    height: 30px;
    vertical-align: middle;
}

.wp_folderContainer .file span,.wp_folderContainer .folder span{
	margin: 0 30px;
}

.wp_folderContainer ul{padding-left: 20px;}

.wp_folderContainer .folder .fileImg,.wp_folderContainer .folder .filename,
.wp_folderContainer .file .fileImg,.wp_folderContainer .file .filename{
	cursor: pointer;
}