
#bq_container{
	width: 100%;
	min-width: 815px;
	height: auto;
	min-height: 599px;
	background: #fff;
}
#bq_container .bq_gzjl_edit{
	cursor: pointer; 
}


/*头部开始*/

#bq_container .bq_head{
	width: 100%;
	height: 35px;
	padding: 10px 10px 10px 30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align: center;
	float: left;
	position: fixed;
	top:0px;
	z-index:999;
	background: #fff;
	border-bottom:solid 1px #eee; 
	font-family: '微软雅黑';
}
#bq_container .bq_head>li{
	width: auto;
	height: 16px;
	padding-left: 5px;
	padding-right: 5px;
	list-style: none;
	display: block;
	float: left;
	letter-spacing: 1.33px;
	border-right: solid 1px #eee;
	text-align: center;
	line-height: 16px;
}
#bq_container .bq_head>li:nth-of-type(1){
	padding-left: 0px;
}
#bq_container .bq_head>li>a{
	color:rgba(84,101,118,1);
	font-size: 12px;
	text-decoration: none;
}
#bq_container .lastLi{
	border-right:0 !important;
}
#bq_container .bq_nav{
	color: rgb(46,204,103);
	position: absolute;
	left: 12px;
	top:7px;
	font-size: 16px;
}
/*头部结束*/
/*tab标签开始*/
#bq_container .bq_chose{
	font-size: 14px;
	color: #354052 !important;
}

#bq_container .bq_info_head{
	min-width: 797px;
	width: 100%;
	height: auto;
	position: fixed;
	top:0px;
	z-index:999;
	background: #FAFBFE;
	font-family: '微软雅黑';
	padding: 0 10px 0 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#bq_container .bq_info_head>li{
	width: 11.5%;
	height: inherit;
	padding: 14px;
	height: 66px;
	padding: 14px 14px 0 14px;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	color: #7F8FA4;
	cursor: pointer;
	font-family: '微软雅黑';
}
#bq_container .bq_info_head>li:nth-of-type(6){
	width: 19.5%;
}
#bq_container .bq_tab{
	width: 11.0%;
	height: 3px;
	background: #2EA2F8;
	margin-left: 10px;
	margin-top:-2px;
	position: fixed;
	z-index: 999;
}
/*tab标签结束*/
#bq_container .hq_bq{
	width: 100%;
	height: 65px;
	overflow: hidden;
}

#bq_container #bq_info_img{
	width: 98%;
	min-width: 797px;
	height: 88px;
	background: red;
	clear: both;
	border-radius: 3px 3px 0px 0px;
	margin:0 10px 0 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	position: relative;
}
#bq_container .bq_headImg{
	width: 84px;
	height: 84px;
	border-radius: 42px;
	margin: 0 auto;
	transform:translate(0px,45px);
}
#bq_container .bq_headImg>img{
	display: block;
	width: 84px;
	height: 84px;
	border-radius: 42px;
}
#bq_container .bq_print{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 113px;
	top:30px;
}
#bq_container .bq_print img{
	display: block;
	width: 20px;
	height: 20px;
}
#bq_container .bq_download{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 74px;
	top:30px;
}
#bq_container .bq_download img{
	display: block;
	width: 20px;
	height: 20px;
}
/*基本信息start*/
#bq_container .bq_xinxi{
	width: 88%;
	min-width: 300px;
	height: auto;
	margin: 0 auto;
	margin-top: 59px;
	font-family: '微软雅黑';
	position: relative;
	background: #fff;
	opacity: 1;
}
#bq_container .bq_xinxi>p:nth-of-type(1){
	font-size: 20px;
	color: #333333;
	text-align: center;
}
#bq_container .bq_xinxi>p:nth-of-type(2),#bq_container .bq_xinxi>p:nth-of-type(3),#bq_container .bq_xinxi>p:nth-of-type(4){
	font-size: 14px;
	color: #999999;
	line-height: 20px;
	text-align: center;
}
#bq_container .bq_xinxi p:nth-of-type(4) img{
	vertical-align: middle;
}
#bq_container .bq_xinxi>p:nth-of-type(5){
	position: absolute;
	right: 0;
	top:36px;
	font-size: 16px;
	color: #47C35A;
	line-height: 22px;
	cursor: pointer;
}
#bq_container .bq_xinxi>p:nth-of-type(5)>img{
	display: inline-block;
	margin-right: 12px;
	width: 18px;
	height: 18px;
}
#bq_container .bq_hr{
	width: 100%;
	min-width: 720px;
	height: 0px;
	margin: 0 auto;
	margin-top: 15px;
}
#bq_container .bq_details{
	display: none;
}
#bq_container .bq_ytx{
	width: 100%;
	height: 2px;
	background: #E6EAEE;
	transform:translate(0px,12px);
}
#bq_container .bq_xl{
	width: 26px;
	height: 26px;
	margin:0 auto;
	border:solid 1px #E6EAEE ;
	border-radius: 13px;
	background: #fff;
	transform:rotate(270deg);
	text-align: center;
	color: #D0D0D0;
	vertical-align: middle;
	line-height: 20px;
	vertical-align: middle;
}
#bq_container .bq_xl>span{
	display: block;
	transform:scaleY(1.8);
	font-size: 12px;
	cursor: pointer;
}

#bq_container .bq_qk_table{
	width: 100%;
}
#bq_container .bq_qk_table td{
	width: 33%;
	height: 30px;
	font-size: 14px;
	color: #999999;
	line-height: 30px;
	padding-left: 20px;
	overflow:hidden;
}
#bq_container .bq_staff_edit_xx{
	width: 97%;
	margin: 0 auto;
	-webkit-box-sizing:border-box;
	padding: 10px 45px 30px 45px;
	margin-top: 3px;
	border:solid 1px #E1E1E1;
	border-radius: 6px;
	-webkit-box-shadow: #eee 0px 0px 10px;
	display: none;
	margin-top: 5px;
}
#bq_container .bq_staff_edit_xx>table{
	width: 100%;
	height:auto;
	font-family: '微软雅黑';
}
#bq_container .bq_staff_edit_xx>table>tbody>tr{
	height: 80px;
}
#bq_container .bq_staff_edit_xx>table>tbody>tr>td{
	width: 33%;
}
#bq_container .bq_staff_edit_xx>table>tbody>tr>td:nth-of-type(3)>ul{
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
}
#bq_container .bq_staff_edit_xx>table>tbody>tr>td:nth-of-type(3)>ul>li{
	display: block;
	float: right;
	text-align: center;
}
#bq_container .bq_staff_edit_xx>table>tbody>tr>td:nth-of-type(3)>ul>li img{
	display: block;
	margin-left: 15px;
}
#bq_container .bq_table_title{
	font-size: 16px;
	color: #1A1A1A;
}

#bq_container .bq_updown p{
	margin: 0;
	padding: 0;
	height: 30px;
}
#bq_container .bq_updown p input{
	display: inline-block;
	width: 210px;
	height: 40px;
	text-indent: 1em;
	border: solid 1px #DEDEDE;
}
#bq_container .bq_updown p:nth-of-type(1){
	padding-bottom: 10px;
	-webkit-box-sizing:border-box;
	font-size: 14px;
	color: #1A1A1A;
	/*font-family: '微软雅黑';*/
}
#bq_container .bq_changeHead>p{
	margin: 0;
	padding: 0;
	width: 210px;
	height: 70px;
	margin-top: 10px;
	border: solid 1px #DEDEDE;
	border-radius: 35px 0 0 35px;
	padding-right: 20px;
	-webkit-box-sizing:border-box;
}
#bq_container .bq_changeHead>p>img{
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	float: left;
}
#bq_container .bq_changeHead>p>span{
	display: block;
	width: 112px;
	height: 34px;
	float: right;
	-webkit-box-sizing:border-box;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	color: #808080;
}
#bq_container .bq_changeHead>p>span>img{
	vertical-align: middle;
}
#bq_container .bq_changeHead>p>span:nth-of-type(2){
	border-top: solid 1px  #E6EAEE;;
}
#bq_container .bq_table_close{
	width: 100%;
	height: 40px;
	background: #FAFAFA;
	margin-top: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #4A90E2;
	margin-bottom: 10px;
	cursor: pointer;
}
#bq_container .bq_table_button{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
#bq_container .bq_table_button button{
	width: 90px;
	height: 30px;
	margin:0 10px 0 10px;
}

/*基本信息end*/
#bq_container .bq_xxinfo{
	width: 100%;
	height: auto;
	font-family: '微软雅黑';
}
/*家庭情况*/
#bq_container .bq_jtqk{
	width: 88%;
	min-width: 704px;
	min-height: 120px;
	height: auto;
	margin:  0 auto;
	margin-top: 40px;
	background: #fff;
}
#bq_container .bq_xq{
	font-size: 20px;
	color: #333333;
	line-height: 30px;
}
#bq_container .bq_xq p:nth-of-type(1){
	float: left;
}
#bq_container .bq_xq p:nth-of-type(2){
	font-size: 16px;
	color: #47C35A;
	line-height: 22px;
	float: right;
	cursor: pointer;
}
#bq_container .bq_xq p:nth-of-type(2) img{
	display: inline-block;
	vertical-align: middle;
	padding-right: 12px;
}
/*表格开始*/
#bq_container .bq_ja_table{
	clear: both;
	padding-top: 15px;
}
#bq_container .bq_ja_table>table{
	width: 100%;
}
#bq_container .bq_ja_table>table>thead>tr{
	border-top:solid 1px #eeeeee;
	border-bottom:solid 1px #eeeeee;
}
#bq_container .bq_ja_table>table>tbody>tr:nth-of-type(even){
	background: #F9F9F9;
}
#bq_container .bq_ja_table>table>tbody>tr{
	border-bottom: solid 1px #eeeeee;
	height: 45px;
	cursor: pointer;
}
#bq_container .bq_ja_table>table>thead>tr>th{
	background: #F9F9F9;
	height: 45px;
	border:solid 1px red;
}

#bq_container .bq_ja_table table >tbody>tr>td:nth-of-type(6) img{
	display:block;

	display: none;
}
#bq_container .bq_ja_table thead tr th{
	text-align: center;
	font-size: 14px;
	color: #000000;
	font-size: 14px;
	border:0px;
}
#bq_container .bq_ja_table table tbody tr td,#bq_container .bq_ja_table>table>thead>tr>th{
	width: 16%;
	border:0px;
	/*border-bottom: solid 1px #eee;*/
	text-align: center;
	font-size: 14px;
	color: rgba(155,155,155,1);

}
#bq_container .bq_ja_table table tbody tr td:nth-of-type(5),#bq_container .bq_ja_table>table>thead>tr>th:nth-of-type(5){
	width: 30%;
}
#bq_container .bq_ja_table table tbody tr td:nth-of-type(6),#bq_container .bq_ja_table>table>thead>tr>th:nth-of-type(6){
	width: 6%;
	min-width: 70px;
}
#bq_container .bq_ja_table table tbody tr td:first-child{
	color: #000000;
	font-size: 14px;
}

#bq_container .bq_ja_table >table>tbody>tr>td>input{
	display: block;
	width: 100%;
	height: 30px;
	border:0;
	float: left;
	outline: 0;
	text-align: center;
	border: solid 1px #ccc;
}
#bq_container .bq_ja_table >table>tbody>tr>td>select,#bq_container .bq_ja_table >table>tbody>tr>td>button{
	width: 100%;
	height: 30px;
}
#bq_container .bq_jtqk_saveorcancle{
	background: #fff;
	display: none;
	border: 0!important;
}
#bq_container .bq_jtqk .bq_jtqk_readd>td{
	text-align: center;
	background: #fff;
}
#bq_container .bq_jtqk .bq_jtqk_readd>td>input{
	display: block;
	width: 100%;
	padding: 0px;
	border: 0;
	color: black;
}
#bq_container .bq_jtqk .bq_jtqk_saveorcancle>td>button{
	display: inline-block;
	margin-right: 10px;
	width: 100px;
}
#bq_container .bq_jtqk .bq_jtqk_readd>td>button{
	margin-right: 10px;
}

#bq_container .bq_xlxx_readd{
	background: rgb(250,251,254);
}
#bq_container .bq_xlxx_readd p{
}
/*表格结束*/
.fixed-table-container{
	border: 0!important;
	border-top:solid 1px rgb(221,221,221) !important;
	/*border-bottom:solid 1px rgb(221,221,221) !important;*/
}

/*家庭情况*/



/*
学历信息、工作经历、资格证书公用的一些样式start
*/
#bq_container .bq_common{
	width: 88%;
	min-width: 704px;
	height: auto;
	margin: 0 auto;
	/*margin: 15px 0 25px 0;*/
	font-family: '微软雅黑';
	margin-top: 25px;
	background: #fff;
}
#bq_container .bq_common_readd{
	/*display: none;*/
}
#bq_container .bq_common>p:nth-of-type(1){
	float: left;
	font-size: 20px;
	color: #333333;
	line-height: 30px;
	cursor: pointer;

}
#bq_container .bq_common>p:nth-of-type(2){
	float: right;
	font-size: 16px;
	color: #47C35A;
	line-height: 22px;
	cursor: pointer;
}
#bq_container .bq_common>p:nth-of-type(2) img{
	display: inline-block;
	vertical-align: middle;
	padding-right: 12px;
}
#bq_container .bq_common_xx{
	clear: both;
	width: 100%;
	height: auto;
}
#bq_container .bq_common_xx_up{
	width: 100%;
	height: 30px;
	font-family: '微软雅黑';
}
#bq_container .bq_common_xx input{
	height: 25px;
	width: 200px;
	text-indent: 1em;
	font-size: 14px;
	border-radius: 2px;
	border:0px;
	border:solid 1px #eee;
	background: #fff;
	/*background: #eee;*/
	color: rgb(127,143,164);
}
#bq_container .bq_common_edit{
	/*border:solid 1px #eee;*/
	-webkit-box-sizing:border-box;
	padding:0 6px;
	background: rgb(250,251,254);
	border-radius: 4px;

}
#bq_container .bq_common_edit button{
	background: #fff;
	border:0;
	margin-left: 10px;
	outline: 0;
}
#bq_container .bq_common_xx_down span:nth-of-type(2) input{
	width:100px;
}
#bq_container .bq_common_xx_up>span{
	display:inline-block;
	line-height: 30px;
	cursor: pointer;
}
#bq_container .bq_common_xx_up>span:nth-of-type(1){
	font-size: 15px;
	color: #333333;
	float: left;
}
#bq_container .bq_common_xx_up>span:nth-of-type(2){
	font-size: 16px;
	color: #47C35A;
	line-height: 22px;
	float: right;
	vertical-align: middle;
	height: 18px;
}
#bq_container .bq_common_xx_up>span:nth-of-type(2) img{
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 12px;
}
#bq_container .bq_common_xx_down{
	width: 100%;
	height: 30px;
	margin-bottom: 4px;
}
#bq_container .bq_common_xx_down>span{
	display:block;
	line-height: 30px;
}
#bq_container .bq_common_xx_down>span:nth-of-type(1){
	float: left;
	color: rgb(155,155,155);
	font-size: 13px;
}
#bq_container .bq_common_xx_down>span:nth-of-type(2){
	float: right;
	color: rgb(155,155,155);
	font-size: 15px;
}
/*

学历信息、工作经历、资格证书公用的一些样式end
*/


/*学历信息*/

/*学历信息*/


/*工作经历*/

#bq_container .bq_jl{
	font-size: 13px;
	color: #333333;
	line-height: 23px;
	font-family: '微软雅黑';
	/*margin-top: -5px;*/
}
#bq_container .bq_gzjl_edit{
	clear: both;
	width: 100%;
	height: 390px;
	display: none;
}
#bq_container .bq_gzjl_table{
	width: 100%;
	background: #FAFFF8;
}
#bq_container .bq_gzjl_table tr:nth-of-type(2) td input,#bq_container .bq_gzjl_table tr:nth-of-type(4) td input{
	width: 220px;
	height: 40px;
	border:solid 1px #DEDEDE;
	text-indent: 1em;
}
#bq_container .bq_gzjl_table td{
	height: 40px;
	font-size: 14px;
	color: #1A1A1A;
}
#bq_container .bq_gzjl_editable{
	width: 100%;
	height: 161px;
	cursor: text;
}
#bq_container .bq_gzjl_editable ol li{
	list-style: decimal;
}
#bq_container .bq_gzjl_editable ul li{
	list-style: disc;
}
#bq_container .bq_gzjl > p{
	cursor: pointer;
}
#bq_container .bq_zysy{
	margin-bottom: 0px;
	margin-top: 10px;
}
#bq_container .bq_buta{
	width: 90px;
	height: 30px;
}
#bq_container .bq_buta:nth-of-type(2){
	margin-left: 10px;
}
/*工作经历*/


#bq_container .no_chose{
	color: #999999 !important;
}


/*兴趣start*/


#bq_container .bq_intest{
	width: 88%;
	min-width: 704px;
	min-height: 120px;
	height: auto;
	margin:  0 auto;
	font-family: '微软雅黑';
	margin-top: 20px;
}

#bq_container .bq_intest_re{
	padding-top: 10px;
	clear: both;
	width: 100%;
	height: auto;
}
#bq_container .bq_intest_re>cite{
	color:  #2DA9D7;
	opacity: 0.3;
	background: red;
}
#bq_container .bq_intest_re>span{
	display: inline-block;
	width: auto;
	height: 30px;
	line-height: 26px;
	padding:0 10px;
	margin-right: 10px;
	margin-bottom: 16px;
	border-radius: 3px;
	font-size: 13px;
	position: relative;
	overflow: hidden;

}
#bq_container .bq_intest_re>span>small{
	display: inline-block;
	width: 0px;
	height: 0px;
	text-align: left;
	line-height: 30px;
	border-radius: 15px;
	position: absolute;
	right:-23px;
	top:-2px;
	background: #2EBC7B;
	opacity: 0;
	color: #fff;
	cursor: pointer;
}

#bq_container .bq_intest_close{
	-webkit-animation:tes 0.5s;
	-webkit-animation-fill-mode: forwards;
}
#bq_container .bq_intest_re>span input{
	display: inline-block;
	border: 0;
	outline: 0;
	width:70px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
}
#bq_container .bq_intest_re>span button{
	width: 20px;
	height: 30px;
	border: 0;
	color: #fff;
	line-height: 20px;
}
#bq_container .bq_intest_re>span button:nth-of-type(2){
	margin-right: -10px;
	border-radius:0px 4px 4px 0;
	border-left: dashed 1px #fff;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+1),#bq_container .bq_intest_re>span:nth-of-type(9n+2),#bq_container .bq_intest_re>span:nth-of-type(9n+3){
	border:solid 1px #2EBC7B;
	color: #2EBC7B;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+1)>small,#bq_container .bq_intest_re>span:nth-of-type(9n+2)>small,#bq_container .bq_intest_re>span:nth-of-type(9n+3)>small{
	background: #2EBC7B;
	color: #fff;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+1) button,#bq_container .bq_intest_re>span:nth-of-type(9n+2) button,#bq_container .bq_intest_re>span:nth-of-type(9n+3) button{
	background: #2EBC7B;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+4),#bq_container .bq_intest_re>span:nth-of-type(9n+5),#bq_container .bq_intest_re>span:nth-of-type(9n+6){
	border: solid 1px #FFB451;
	color: #FFB451;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+4)>small,#bq_container .bq_intest_re>span:nth-of-type(9n+5)>small,#bq_container .bq_intest_re>span:nth-of-type(9n+6)>small{
	background: #FFB451;
	color: #fff;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+4) button,#bq_container .bq_intest_re>span:nth-of-type(9n+5) button,#bq_container .bq_intest_re>span:nth-of-type(9n+6) button{
	background: #FFB451;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+7),#bq_container .bq_intest_re>span:nth-of-type(9n+8),#bq_container .bq_intest_re>span:nth-of-type(9n+9){
	border:solid 1px #2DA9D7;
	color: #2DA9D7;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+7)>small,#bq_container .bq_intest_re>span:nth-of-type(9n+8)>small,#bq_container .bq_intest_re>span:nth-of-type(9n+9)>small{
	background: #2DA9D7;
	color: #fff;
}
#bq_container .bq_intest_re>span:nth-of-type(9n+7) button,#bq_container .bq_intest_re>span:nth-of-type(9n+8) button,#bq_container .bq_intest_re>span:nth-of-type(9n+9) button{
	background: #2DA9D7;
}
#bq_container .bq_intest_edit{
	display: inline-block;
	width: auto;
	height: 30px;
	line-height: 30px!important;
	padding:0px!important;
	border: 0px!important;
	margin-bottom: 16px;
	float: right;
	margin-right: 0px!important;
	font-size: 16px!important;
	color: #47C35A!important;
	cursor: pointer;
}
#bq_container .bq_intest_edit img{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 12px;
}
#bq_container .bq_intest_re p{
	display: inline-block;
	width: auto;
	height: 50px;
	background: blue;
}

/*兴趣end*/

/*
成长轨迹start
*/
#bq_container .bq_czgj{
	position: relative;
}
#bq_container .bq_czgj_info{
	height:auto;
	clear: both;
	font-size: 17px;
	color: #333333;
	font-family: '微软雅黑';
}
#bq_container .bq_czgj_info:nth-of-type(1){

	padding-top: 10px;
}
#bq_container .bq_czgj_info_up{
	width: 98.5%;
	min-width: 690px;
	height: auto;
	float: right;
}
#bq_container .bq_czgj_info_up p:nth-of-type(1){
	float: left;
}
#bq_container .bq_czgj_info_up p:nth-of-type(2){
	float: right;
	font-size: 16px;
	color: #47C35A;
	line-height: 22px;
	cursor: pointer;
}
#bq_container .bq_czgj_info_up p:nth-of-type(2) img{
	width: 18px;
	height: 18px;
	margin-right: 12px;
}
#bq_container .bq_czgj_info_up span{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	vertical-align: middle;
	margin-right: 16px;
	border:solid 1px #ccc;
	position: relative;
}

#bq_container .bq_chose_aq:after{
	content: "";
	width: 6px;
	height: 6px;
	background: #F5A623;
	position: absolute;
	left: 5px;
	top:5px;
	border-radius: 3px;
}

#bq_container .bq_czgj_info_down{
	width: 100%;
	min-width: 704px;
	height: auto;
	min-height: 70px;
}
#bq_container .bq_czgj_info_down div{
	display: inline-block;
	/*float: left;*/
	width: 50%;
	height: auto;
}
#bq_container .bq_czgj_info_down div textarea{
	width: 270px;
	height: 80px;
	vertical-align: top;
	resize:none;
	border:solid 1px #ddd;
}
#bq_container .bq_czgj_info_info{
	width:26.6%;
	height: auto;
	margin-left: 45px;
	-webkit-box-sizing:border-box;
	margin-bottom: 15px;
	font-size: 12px;
	color: #54657E;
	line-height: 20px;
	background: #ECEFF4;
	padding: 5px;
	border-radius: 5px;
	display: none;
}
#bq_container .bq_czgj_info_down p:nth-of-type(1){
	float: left;
	font-size: 14px;
	margin-left: 45px;
	color: #999999;
	/*background: red;*/
}
#bq_container .bq_czgj_info_down p:nth-of-type(2){
	float: right;
	color: #999999;
	font-size: 14px;
}
#bq_container .bq_czgj_info_down p:nth-of-type(2) button{
	width: 80px;
	vertical-align: bottom;
	height: 30px;
	margin-top: 50px;
	margin-left: 5px;
}

#bq_container .bq_czgj_hr{
	border-bottom: solid 1px #E6EAEE;
}
#bq_container .bq_czgj_stand{
	display: block;
	width: 2px;
	height: 0px;
	background: #CAD3DF;
	position: absolute;
	left: 7px;
	top:5px;
	margin: auto 0;
	-webkit-box-sizing:border-box;
	margin-bottom: 20px;
}
#bq_container .bq_czgj_info input{
	display: inline-block;
	width: 120px;
	height: 30px;
	border:solid 1px #ddd;
	position: relative;
	margin-right: 10px;
}
#bq_container .bq_czgj_info input:before{
	content: '标题';
	width: 50px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #F5A623;
	position: absolute;
	left:100px;
	top:100px;
}	
/*
成长轨迹end
*/



/*个人附件start*/
#bq_container .bq_all{
	clear: both;
	width: 100%;
	height: auto;
	/*padding:20px !important;*/
	padding: 10px 22px 19px 22px;
	background: #fafafa;
	-webkit-box-sizing:border-box;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
#bq_container .bq_grfj{
	width: 100%;
	height: 30px;
}
#bq_container .bq_grfj>ul>li{
	list-style: none;
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
}
#bq_container .bq_grfj>ul>li:nth-of-type(1){
	float: left;
	font-size: 12px;
	color: #666666;
	letter-spacing: 1px;
	line-height: 32px;
}
#bq_container .bq_grfj>ul>li:nth-of-type(1) img{
	margin-right: 12px;
	vertical-align: middle;
}

#bq_container .bq_grfj>ul>li:nth-of-type(3){
	float: right;
	margin-right: 50px;
	font-family: 'ArialMT';
	font-size: 12px;
	color: #999999;
	letter-spacing: 0px;
	line-height: 35px;
}
#bq_container .bq_grfj>ul>li:nth-of-type(2){
	float: right;
}
/*个人附件end*/

#bq_container .bq_fotter{
	width: 100%;
	height:  40px;
	margin:0 auto;
	clear: both;
	background: #FAFBFE;
	margin-top: 20px;
}
#bq_container .bq_fotter ul li{
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 19px;
	line-height: 40px;
}
#bq_container .bq_fotter ul li:nth-of-type(1){
	margin-left: 75px;
}


/*css3特效start*/

@-webkit-keyframes tes{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		height: 32px;
		width: 32px;
	}
}

/*css3特效end*/









































/*}*/